---
layout: default
---

<div class="row" style="display:flex; align-items:center; gap:20px;">
    <div>
        <img src="{{ site.url }}/images/Grad picture.jpg"
             alt="Photo" 
             width="240">
    </div> 
    <div> 
        <div class="titles">
            MS candidate for Applied Statistics and Data Science, <a href="https://statistics.ucla.edu/">UCLA</a><br>
            BA in Mathematics, <a href="https://www.pomona.edu/">Pomona College</a>
            <br>    
            <p class="contact">
                <i class="muted">Contact:</i> kyledtorres03@gmail.com
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <hr style="margin:30px 0;">
    </div>
</div>

<p>
	Hi, I'm Kyle! I'm currently an MS candidate for Applied Statistics and Data Science at UCLA. I'm passionate about pursuing a career in 
  data science and am particularly interested in the applications of generative AI to solve complex problems.
</p>

<p>
  I've worked on a few data science projects that can be seen <a href="https://kyledtorres.github.io/projects.html">here</a>. 
  I've also conducted research applying statistical modeling in diverse fields, which can be viewed <a href="https://kyledtorres.github.io/research.html">here</a>. 
  Lastly, I just started a blog where I incorporate a data-driven approach to highlight NFL/NBA trends, which can be accessed <a href="https://kyledtorres.substack.com/">here</a>.
</p>
